.top3-list-item-box {
  border-radius: 10px;

  padding: 1.666666vw;

  width: 23.333333vw;
  height: 31.944444vw;

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top3-list-item-box:hover {
  cursor: pointer;
}

.top3-list-item-writer {
  display: flex;
}

.top3-list-item-profile {
  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.top3-list-item-profile-image {
  border-radius: 32px;

  width: 32px;
  height: 32px;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.top3-list-item-writer-right {
  margin-left: 8px;
}

.top3-list-item-writer-nickname {
  margin-bottom: 2px;

  color: #ffffff;

  font-size: 12px;
  font-weight: 500;
}

.top3-list-item-write-date {
  color: rgba(255, 255, 255, 0.7);

  font-size: 12px;
  font-weight: 400;
}

.top3-list-item-title {
  margin-top: 16px;

  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
}

.top3-list-item-content {
  margin-top: 5px;

  color: rgba(255, 255, 255, 0.7);

  font-size: 12px;
  font-weight: 400;
}

.top3-list-item-count {
  margin-top: 16px;

  color: rgba(255, 255, 255, 0.7);

  font-size: 12px;
  font-weight: 400;
}