.comment-list-item-box {
  display: block;
  margin: 15px 0;
}

.comment-list-item-writer {
  display: flex;
  align-items: center;
}

.comment-list-item-profile {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-list-item-profile-image {
  border-radius: 32px;

  width: 32px;
  height: 32px;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.comment-list-item-writer-nickname {
  margin-left: 8px;

  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
}

.comment-list-item-writer-divider {
  margin: 0 8px;

  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
}

.comment-list-item-write-time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
}

.comment-list-item-comment {
  margin-top: 12px;

  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
}